{% extends "bootstrap/base.html" %}
{% block title %}TechBoard{% endblock %}
{{ wtf.quick_form(form) }}
{% block content %}
<div class="container d-flex justify-content-around">
    <div class="card m-auto">
        <div class="card-body">
            <h2 class="card-title">Sign In</h2>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group ">
                    {{ form.username.label }} {{ form.username(class_="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }} {{ form.password(class_="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
{% block footer %}

{% endblock %}
